{% extends "login.html" %}

{% block titulo %}
    <title>Actualizar Mes</title>
{% endblock %}


<body >

{% block body %}

    <form style="margin: 15px ;" action="" method="POST">
        {% csrf_token %}

        <table>

            {{form.as_table}}

        </table>
        <br>
        <div style="align-content: center;">
            <spam><input class="btn btn-primary" type="submit" value="Enviar"></spam>
            <a href="/usuarios/administrador/" class="btn btn-primary">Volver</a>
        </div>
    </form>
    <br>

</body>

{% endblock %}

</html>