<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/31f38c55fe.js" crossorigin="anonymous"></script>
  {% block titulo %}
  <title>Quien Pago?</title>
  {% endblock %}
</head>

<body>
  <nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div style="align-content:center;" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/usuarios/ver-pagos/">Ver Pago</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Acerca de</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" action="/usuarios/buscar-mes/" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar Mes" aria-label="Search" name = 'search'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    </div>
</nav>

{% block body %}

  <div style="height: 10rem" class="container text-center">
    <div  style="padding: 50px" class="row h-100">
      <div class="col">
        <a href="http://127.0.0.1:8000/usuarios/lista/" type="button" class="btn btn-dark">Usuario</a>
        <a href="http://127.0.0.1:8000/usuarios/administrador/" type="button" class="btn btn-dark">Usuario Admin</a>
        <a href="http://127.0.0.1:8000/admin/" type="button" class="btn btn-dark">Panel Admin</a>
      </div>
    </div>
  </div>

{% endblock %}
</body>


<footer class="text-center text-white" style="margin-top: 10rem; background-color: #f1f1f1; position: relative; bottom:0; width: 100%;">
  <div class="container pt-4">
    <section class="mb-4">

      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/" target="_blank"
        role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://Linkedin.com.ar" target="_blank"
        role="button" data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>

      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/dariosbarbati/ProyectoFinal"
        target="_blank" role="button" data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>

    </section>
  </div>

  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyrigh: ProyectoFinal - CoderHouse
  </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
  integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
  integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

</html>