{% extends 'login.html' %}

{% block titulo %}
    <title>Registro</title>
{% endblock %}

<body>
    
{% block body %}

<div class="card" style="width: 40rem; align-items: center ; background-color:rgba(38, 41, 209, 0.116); margin-top:3rem; margin-left: 25rem;">
<form style="margin: 2rem;" action="" method="POST">
{% csrf_token %}

    <table>

        {{form.as_table}}

    </table>

<div style="margin:3rem">
    <span><input type="submit" value="Registrate!!"></span>
    <a href="/users/login/" class="btn btn-primary" style="margin-left: 5rem;">Volver</a>
    </form>
</div>
</div>

    {% if error %}
        <p style="color:red;">{{error}}</p>
    {% endif %}
    
    <br>
    <br>

{% endblock %}
</body>

</html>