{% extends "login.html" %}

{% block titulo %}
    <title>Ver pagos</title>
{% endblock %}


<body>

{% block body %}

    <div class="container text-center m-5" style="height: 800px">
        <div class="row" style="height: 600px">
            <div class="card" style="width: 11rem;background-color:rgba(36, 85, 175, 0.253) ; ">
                {% for servicio in servicios %}
                <div class="card" style="margin: 10px;">
                    <a href="/usuarios/info-mes/{{servicio.servicio}}" type="button"
                        class="btn btn-dark">{{servicio.servicio}}</a>
                </div>
                {% endfor %}
            </div>


            <div class="col-10">
                <div class="row">
                    <div style="margin-left: 50px;" class="row" style="height: 800px;">
                        {% for mes in meses %}
                        {% if mes.pagado %}
                        <div class="card" style="width: 14rem;background-color:rgba(38, 41, 209, 0.116) ; ">
                            <div class="card-body">
                                <h5 class="card-title">{{mes.nombre}}</h5>
                                <h2 style="color: green">PAGO</h2>
                                <h5 class="card-title">Monto: {{mes.precio}}</h5>
                                <h5 class="card-title">{{mes.fecha}}</h5>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}

</html>