{% extends "login.html" %}

{% block titulo %}
<title>Ver pagos</title>
{% endblock %}


<body>

    {% block body %}

    <div class="container text-center m-5" style="height: 800px">
        <div class="row" style="height: 600px">
            <div class="card" style="width: 11rem;background-color:rgba(36, 85, 175, 0.253) ; ">
                <a href="/usuarios/administrador/" style="margin: 10px" class="btn btn-primary ">Volver</a>
            </div>


            <div class="col-10">
                <div class="row">
                    <div style="margin-left: 50px;" class="row" style="height: 800px;">
                        {% for mes in meses %}
                        {% if mes.pagado %}
                        <div class="card" style="width: 14rem;background-color:rgba(38, 41, 209, 0.116) ; ">
                            <div class="card-body">
                                <h4 class="card-title">{{mes.nombre}}</h4>
                                <h5 class="card-title">Servicio: {{mes.MesesServicio}}</h5>
                                <h2 style="color: green">PAGO</h2>
                                <h5 class="card-title">Monto: {{mes.precio}}</h5>
                                <h5 class="card-title">{{mes.fecha}}</h5>
                                <h5 class="card-body">Token: {{mes.aleatorio}}</h5>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}

</html>